* {
   box-sizing: border-box;
}

body {
   height: 100%;
   font-family: Inter, sans-serif;
   background-color: #c5c6c7;
   color:#66FCF1;
   font-size: bold;

}
h1 {
    text-align: center;
    color: #45A29E;
    margin-top: 45px;
}

h1:hover {
    animation: shake 0.8s;
   
  }
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.container {
    
    height: 200px;
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #1f231f;
    border: 2px solid #66FCF1;
    border-radius: 10px;
    background-image: url("https://images.unsplash.com/photo-1517167685284-96a27681ad75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBhdHRlcm58ZW58MHx8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60");
    background-blend-mode: color;
    position: absolute;
    top: 25%;
    left: 15%;
    /* transform: translateY(-50%); */
}
/* work_area */
.work {
    grid-area: 1 / 2 / 1 / 2;
}
.work_timer {
    grid-area: 2 / 2 / 2 / 2;
    
}
.start {
    grid-area: 3 / 2 / 3 / 2;
}

/* cycles_area */
.cycles {
    grid-area: 1 / 3 / 1 / 3;
}

.counter {
    display: flex;
    align-self: center;
    justify-self: center;
    grid-area: 2 / 3 / 2 / 3;
}
.reset {
    grid-area: 3 / 3 / 3 / 3;
}


/* break_area */
.break {
    grid-area: 1 / 4 / 1 / 4;
}

.break_timer {
    grid-area: 2 / 4 / 2 / 4;
 }

.stop {
    grid-area: 3 / 4 / 3 / 4;
}


p {
    margin: 0;
    padding: 0;
    font-weight: 16px;
}

.work, .cycles,.break {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 18px;
}
.work_timer,.break_timer {
    display: flex;
    align-self: center;
    justify-self: center;
}

button {
    height: 35px;
    width: 100px;
    align-self: center;
    justify-self: center;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
    color: #C5C6C7;
    background-color: #0b0c10;
    border: 2px solid #45A29E; 
    border-radius: 12px;
}

button:hover {
    animation: shake 0.8s;
    background-color: #66FCF1;
    border: 2px solid #45A29E; 
    border-radius: 12px;
    color: #0b0c10;
  }
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

