* {
   box-sizing: border-box;
}
  
body {
   height: 100%;
   font-family: GillSansforJL,Gill Sans,Gill Sans MT,GillSansMTStd-Medium,Avenir,Corbel,Arial,Helvetica,sans-serif;
  
}
h1 {
    text-align: center;
    
}
.container {
    height: 200px;
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(162, 240, 214);
}
/* work_area */
.work {
    grid-area: 1 / 2 / 1 / 2;
}
.work_timer {
    grid-area: 2 / 2 / 2 / 2;
    
}
.start {
    grid-area: 3 / 2 / 3 / 2;
}

/* cycles_area */
.cycles {
    grid-area: 1 / 3 / 1 / 3;
}

.counter {
    display: flex;
    align-self: center;
    justify-self: center;
    grid-area: 2 / 3 / 2 / 3;
}
.reset {
    grid-area: 3 / 3 / 3 / 3;
}


/* break_area */
.break {
    grid-area: 1 / 4 / 1 / 4;
}

.break_timer {
    grid-area: 2 / 4 / 2 / 4;
 }

.stop {
    grid-area: 3 / 4 / 3 / 4;
}


p {
    margin: 0;
    padding: 0;
}

.work, .cycles,.break {
    align-self: center;
    justify-self: center;
}
.work_timer,.break_timer {
    display: flex;
    align-self: center;
    justify-self: center;
}



